.lfr-layout-structure-item-container {padding: 0;} .lfr-layout-structure-item-row {overflow: hidden;} .portlet-borderless .portlet-content {padding: 0;}.lfr-layout-structure-item-97a91222-6cda-f9f3-6ecf-6b568c4e952e {
background-position: 50% 50%; background-repeat:no-repeat; background-size: cover; background-image: var(--lfr-background-image-97a91222-6cda-f9f3-6ecf-6b568c4e952e) !important;
border-style: solid; border-width: 0 !important; border-width: 0px !important;
}
.lfr-layout-structure-item-63de8ab4-d35e-df38-2729-0dab1f829100 {
background-position: 50% 50%; background-repeat:no-repeat; background-size: cover; background-image: var(--lfr-background-image-63de8ab4-d35e-df38-2729-0dab1f829100) !important;
border-style: solid; border-width: 0 !important; border-width: 0px !important;
}
.lfr-layout-structure-item-4636656d-af91-c852-51c0-c827bedfaa40 {
background-position: 50% 50%; background-repeat:no-repeat; background-size: cover; background-image: var(--lfr-background-image-4636656d-af91-c852-51c0-c827bedfaa40) !important;
border-style: solid; border-width: 0 !important; border-width: 0px !important;
}
.lfr-layout-structure-item-475826b1-ac9d-c64c-463c-8343437fff5b {
background-position: 50% 50%; background-repeat:no-repeat; background-size: cover; background-image: var(--lfr-background-image-475826b1-ac9d-c64c-463c-8343437fff5b) !important;
border-style: solid; border-width: 0 !important; border-width: 0px !important;
}
.lfr-layout-structure-item-f8ca9673-b668-50fc-0a27-accb88d83f81 {
background-position: 50% 50%; background-repeat:no-repeat; background-size: cover; background-image: var(--lfr-background-image-f8ca9673-b668-50fc-0a27-accb88d83f81) !important;
border-style: solid; border-width: 0 !important; border-width: 0px !important;
}
.lfr-layout-structure-item-58573c3e-6c30-5d92-6452-3ddc6150c23c {
background-position: 50% 50%; background-repeat:no-repeat; background-size: cover; background-image: var(--lfr-background-image-58573c3e-6c30-5d92-6452-3ddc6150c23c) !important;
border-style: solid; border-width: 0 !important; border-width: 0px !important;
}
.lfr-layout-structure-item-143e2a3d-c15f-987b-d991-a70f993a5d81 {
background-position: 50% 50%; background-repeat:no-repeat; background-size: cover; background-image: var(--lfr-background-image-143e2a3d-c15f-987b-d991-a70f993a5d81) !important;
border-style: solid; border-width: 0 !important; border-width: 0px !important;
}
.lfr-layout-structure-item-202019bf-8e85-06b3-5af5-d012b909aacc {
background-position: 50% 50%; background-repeat:no-repeat; background-size: cover; background-image: var(--lfr-background-image-202019bf-8e85-06b3-5af5-d012b909aacc) !important;
border-style: solid; border-width: 0 !important; border-width: 0px !important;
}
