.lfr-layout-structure-item-container {padding: 0;} .lfr-layout-structure-item-row {overflow: hidden;} .portlet-borderless .portlet-content {padding: 0;}.lfr-layout-structure-item-ffeb9390-1a8b-279b-c3e3-b7b158759b66 {
background-position: 50% 50%; background-repeat:no-repeat; background-size: cover; background-image: var(--lfr-background-image-ffeb9390-1a8b-279b-c3e3-b7b158759b66) !important;
border-style: solid; border-width: 0 !important; border-width: 0px !important;
}
.lfr-layout-structure-item-7c0c9342-652e-b1d0-3b2f-cd4641ea16c1 {
background-position: 50% 50%; background-repeat:no-repeat; background-size: cover; background-image: var(--lfr-background-image-7c0c9342-652e-b1d0-3b2f-cd4641ea16c1) !important;
border-style: solid; border-width: 0 !important; border-width: 0px !important;
}
.lfr-layout-structure-item-babdc0be-4de7-45ac-5b21-99f57dea20ac {
background-position: 50% 50%; background-repeat:no-repeat; background-size: cover; background-image: var(--lfr-background-image-babdc0be-4de7-45ac-5b21-99f57dea20ac) !important;
border-style: solid; border-width: 0 !important; border-width: 0px !important;
}
.lfr-layout-structure-item-fdd2a9a2-e2a9-f311-d240-d0852e005d25 {
background-position: 50% 50%; background-repeat:no-repeat; background-size: cover; background-image: var(--lfr-background-image-fdd2a9a2-e2a9-f311-d240-d0852e005d25) !important;
border-style: solid; border-width: 0 !important; border-width: 0px !important;
}
.lfr-layout-structure-item-0c01d614-dac2-3035-2144-e580a26febf2 {
background-position: 50% 50%; background-repeat:no-repeat; background-size: cover; background-image: var(--lfr-background-image-0c01d614-dac2-3035-2144-e580a26febf2) !important;
border-style: solid; border-width: 0 !important; border-width: 0px !important;
}
.lfr-layout-structure-item-f0d419ea-5c83-b2eb-1a35-f98e08ad77a4 {
background-position: 50% 50%; background-repeat:no-repeat; background-size: cover; background-image: var(--lfr-background-image-f0d419ea-5c83-b2eb-1a35-f98e08ad77a4) !important;
border-style: solid; border-width: 0 !important; border-width: 0px !important;
}
.lfr-layout-structure-item-3014c10e-2eb9-af1e-42a4-fa3cb3a4175f {
background-position: 50% 50%; background-repeat:no-repeat; background-size: cover; background-image: var(--lfr-background-image-3014c10e-2eb9-af1e-42a4-fa3cb3a4175f) !important;
border-style: solid; border-width: 0 !important; border-width: 0px !important;
}
.lfr-layout-structure-item-9765e806-7f96-aea5-1293-f9e19a742280 {
background-position: 50% 50%; background-repeat:no-repeat; background-size: cover; background-image: var(--lfr-background-image-9765e806-7f96-aea5-1293-f9e19a742280) !important;
border-style: solid; border-width: 0 !important; border-width: 0px !important;
}
.lfr-layout-structure-item-1b97e5f3-2bc8-4029-8e34-b65f3ae7b248 {
background-position: 50% 50%; background-repeat:no-repeat; background-size: cover; background-image: var(--lfr-background-image-1b97e5f3-2bc8-4029-8e34-b65f3ae7b248) !important;
border-style: solid; border-width: 0 !important; border-width: 0px !important;
}
.lfr-layout-structure-item-96de31bd-c08b-47ed-233a-a7380bdf5670 {
background-position: 50% 50%; background-repeat:no-repeat; background-size: cover; background-image: var(--lfr-background-image-96de31bd-c08b-47ed-233a-a7380bdf5670) !important;
border-style: solid; border-width: 0 !important; border-width: 0px !important;
}
