.lfr-layout-structure-item-container {padding: 0;} .lfr-layout-structure-item-row {overflow: hidden;} .portlet-borderless .portlet-content {padding: 0;}.lfr-layout-structure-item-464df942-2be2-07fd-ac13-9ff4291e6625 {
padding-right: var(--spacer-3,1rem) !important;
}
.lfr-layout-structure-item-3387c3da-5434-1767-cb9d-50e38055b83b {
background-position: 50% 50%; background-repeat:no-repeat; background-size: cover; background-image: var(--lfr-background-image-3387c3da-5434-1767-cb9d-50e38055b83b) !important;
border-style: solid; border-width: 0 !important; border-width: 0px !important;
}
.lfr-layout-structure-item-4f7af9ab-cbf0-1e98-00a2-f3e61f884019 {
background-position: 50% 50%; background-repeat:no-repeat; background-size: cover; background-image: var(--lfr-background-image-4f7af9ab-cbf0-1e98-00a2-f3e61f884019) !important;
border-style: solid; border-width: 0 !important; border-width: 0px !important;
}
.lfr-layout-structure-item-2e9635fd-a418-97a1-daa5-d3eb7b23da0f {
background-position: 50% 50%; background-repeat:no-repeat; background-size: cover; background-image: var(--lfr-background-image-2e9635fd-a418-97a1-daa5-d3eb7b23da0f) !important;
border-style: solid; border-width: 0 !important; border-width: 0px !important;
}
.lfr-layout-structure-item-5f4622b2-065c-9f89-a392-bc7872c75322 {
background-position: 50% 50%; background-repeat:no-repeat; background-size: cover; background-image: var(--lfr-background-image-5f4622b2-065c-9f89-a392-bc7872c75322) !important;
border-style: solid; border-width: 0 !important; border-width: 0px !important;
padding-left: var(--spacer-3,1rem) !important;
}
.lfr-layout-structure-item-2fd17a8c-d6d0-bd4a-a712-a7de21b87920 {
background-position: 50% 50%; background-repeat:no-repeat; background-size: cover; background-image: var(--lfr-background-image-2fd17a8c-d6d0-bd4a-a712-a7de21b87920) !important;
border-style: solid; border-width: 0 !important; border-width: 0px !important;
margin-bottom: var(--spacer-5,3rem) !important;
margin-top: var(--spacer-5,3rem) !important;
padding-top: var(--spacer-2,0.5rem) !important;
}
.lfr-layout-structure-item-d82f97b9-4d05-c0e8-f2ac-5c12a6b21e64 {
margin-bottom: var(--spacer-5,3rem) !important;
margin-top: var(--spacer-5,3rem) !important;
}
.lfr-layout-structure-item-9714adf8-48d5-12dc-1eb8-7fadb97eb6bf {
background-position: 50% 50%; background-repeat:no-repeat; background-size: cover; background-image: var(--lfr-background-image-9714adf8-48d5-12dc-1eb8-7fadb97eb6bf) !important;
border-style: solid; border-width: 0 !important; border-width: 0px !important;
}
