@font-face {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://cdn.website.axa.be/fonts/sourcesanspro-regular-subset-latin.woff2) format('woff2');
}
@font-face {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url(https://cdn.website.axa.be/fonts/sourcesanspro-semibold-subset-latin.woff2) format('woff2');
}
@font-face {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(https://cdn.website.axa.be/fonts/sourcesanspro-bold-subset-latin.woff2) format('woff2');
}
@font-face {
    font-family: Publico;
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(https://cdn.website.axa.be/fonts/publicoheadline-bold.woff2) format('woff2');
}
@font-face {
    font-family: Publico;
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url(https://cdn.website.axa.be/fonts/PublicoHeadline-Light-subset-latin.woff2) format('woff2');
}