@font-face {
  font-family: 'icomoon';
  src:
    url('fonts/icomoon.ttf?tznc38') format('truetype'),
    url('fonts/icomoon.woff?tznc38') format('woff'),
    url('fonts/icomoon.svg?tznc38#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-buoy:before {
  content: "\e97a";
}
.icon-question:before {
  content: "\e92a";
}
.icon-info:before {
  content: "\e916";
}
.icon-warning:before {
  content: "\e91b";
}
.icon-view:before {
  content: "\e929";
}
.icon-link:before {
  content: "\e928";
}
.icon-online:before {
  content: "\e927";
}
.icon-video:before {
  content: "\e925";
}
.icon-tutorial:before {
  content: "\e924";
}
.icon-circle-check-o:before {
  content: "\e926";
}
.icon-circle-check:before {
  content: "\e922";
}
.icon-circle-plus:before {
  content: "\e923";
}
.icon-loggedin:before {
  content: "\e921";
}
.icon-family:before {
  content: "\e920";
}
.icon-lock:before {
  content: "\e91f";
}
.icon-exit:before {
  content: "\e91d";
}
.icon-home:before {
  content: "\e91e";
}
.icon-trash:before {
  content: "\e917";
}
.icon-logout:before {
  content: "\e918";
}
.icon-cart:before {
  content: "\e919";
}
.icon-user:before {
  content: "\e91a";
}
.icon-round-close:before {
  content: "\e91c";
}
.icon-document:before {
  content: "\e915";
}
.icon-plus:before {
  content: "\e912";
}
.icon-search:before {
  content: "\e911";
}
.icon-location:before {
  content: "\e910";
}
.icon-minus:before {
  content: "\1f323";
}
.icon-gear:before {
  content: "\e90f";
}
.icon-share:before {
  content: "\e90d";
}
.icon-email:before {
  content: "\e90e";
}
.icon-instagram:before {
  content: "\e909";
}
.icon-youtube:before {
  content: "\e90a";
}
.icon-linkedin:before {
  content: "\e90b";
}
.icon-facebook-old:before {
  content: "\e90c";
}
.icon-twitter:before {
  content: "\e977";
}
.icon-angle-down:before {
  content: "\e907";
}
.icon-angle-left:before {
  content: "\e92b";
}
.icon-angle-up:before {
  content: "\e92c";
}
.icon-angle-right:before {
  content: "\e92d";
}
.icon-close:before {
  content: "\e906";
}
.icon-phone:before {
  content: "\e905";
}
.icon-star:before {
  content: "\e904";
}
.icon-arrow-left:before {
  content: "\e902";
}
.icon-arrow-up:before {
  content: "\e913";
}
.icon-arrow-down:before {
  content: "\e914";
}
.icon-arrow-right:before {
  content: "\e903";
}
.icon-download:before {
  content: "\e901";
}
.icon-check:before {
  content: "\e900";
}
.icon-world:before {
  content: "\e974";
}
.icon-bell:before {
  content: "\e972";
}
.icon-facebook:before {
  content: "\e908";
}
.icon-x:before {
  content: "\e975";
}
.icon-tiktok:before {
  content: "\e976";
}
.icon-signout:before {
  content: "\e971";
}
.icon-adjust:before {
  content: "\e970";
}
.icon-diamond-o:before {
  content: "\e932";
}
.icon-car:before {
  content: "\e933";
}
.icon-euro:before {
  content: "\e934";
}
.icon-feed:before {
  content: "\e935";
}
.icon-medic:before {
  content: "\e936";
}
.icon-message:before {
  content: "\e937";
}
.icon-chat:before {
  content: "\e938";
}
.icon-clock:before {
  content: "\e939";
}
.icon-handshake:before {
  content: "\e93a";
}
.icon-star-c:before {
  content: "\e93b";
}
.icon-trend-down:before {
  content: "\e93c";
}
.icon-trend-up:before {
  content: "\e93d";
}
.icon-money:before {
  content: "\e93e";
}
.icon-brightness:before {
  content: "\e93f";
}
.icon-wrench:before {
  content: "\e940";
}
.icon-calculate:before {
  content: "\e941";
}
.icon-pound:before {
  content: "\e942";
}
.icon-yen:before {
  content: "\e943";
}
.icon-diamond:before {
  content: "\e944";
}
.icon-fast-forward:before {
  content: "\e945";
}
.icon-fast-rewind:before {
  content: "\e946";
}
.icon-pause:before {
  content: "\e947";
}
.icon-pause-c:before {
  content: "\e948";
}
.icon-play:before {
  content: "\e949";
}
.icon-play-c:before {
  content: "\e94a";
}
.icon-skip-next:before {
  content: "\e94b";
}
.icon-skip-previous:before {
  content: "\e94c";
}
.icon-volume-down:before {
  content: "\e94d";
}
.icon-mute:before {
  content: "\e94e";
}
.icon-volume-up:before {
  content: "\e94f";
}
.icon-help-full:before {
  content: "\e950";
}
.icon-info-f:before {
  content: "\e951";
}
.icon-warning-o:before {
  content: "\e952";
}
.icon-triangle-left:before {
  content: "\e953";
}
.icon-triangle-right:before {
  content: "\e954";
}
.icon-fold:before {
  content: "\e955";
}
.icon-unfold:before {
  content: "\e956";
}
.icon-triangle-down:before {
  content: "\e957";
}
.icon-triangle-up:before {
  content: "\e959";
}
.icon-calendar:before {
  content: "\e95a";
}
.icon-edit:before {
  content: "\e95b";
}
.icon-inside:before {
  content: "\e95c";
}
.icon-favorite:before {
  content: "\e95d";
}
.icon-favorite-o:before {
  content: "\e95e";
}
.icon-outside:before {
  content: "\e95f";
}
.icon-menu:before {
  content: "\e960";
}
.icon-more-h:before {
  content: "\e961";
}
.icon-expand:before {
  content: "\e962";
}
.icon-minimize:before {
  content: "\e973";
}
.icon-phone1:before {
  content: "\e963";
}
.icon-power:before {
  content: "\e964";
}
.icon-print:before {
  content: "\e965";
}
.icon-refresh:before {
  content: "\e966";
}
.icon-remove:before {
  content: "\e967";
}
.icon-circle-check-2:before {
  content: "\e978";
}
.icon-circle-check-o-2:before {
  content: "\e979";
}
.icon-remove-c:before {
  content: "\e968";
}
.icon-remove-o:before {
  content: "\e969";
}
.icon-save:before {
  content: "\e96a";
}
.icon-sort:before {
  content: "\e96b";
}
.icon-sort-back:before {
  content: "\e96c";
}
.icon-update:before {
  content: "\e96d";
}
.icon-upload:before {
  content: "\e96e";
}
.icon-hide:before {
  content: "\e96f";
}
.icon-and-export:before {
  content: "\e930";
}
.icon-and-dots:before {
  content: "\e931";
}
.icon-ios-add:before {
  content: "\e92e";
}
.icon-ios-export:before {
  content: "\e92f";
}
.icon-mobile:before {
  content: "\e958";
}
